### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [28]:
purchase_data.head ()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [35]:
total_players = purchase_data["SN"].nunique()
tp = pd.DataFrame([{ 'Total Players':total_players}])
tp

   Toal Players
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
number_unique_items = purchase_data["Item ID"].nunique()
average_purchasing_price = purchase_data["Price"].mean()
total_number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purchasing_analysis = pd.DataFrame([{'Number of Unique Items':number_unique_items, 'Average Purchase Price': average_purchasing_price, 'Total Number of Purchases':total_number_of_purchases, 'Total Revenue':total_revenue}])
purchasing_analysis

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,3.050987,183,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [72]:
gender_totals = purchase_data["Gender"].value_counts()
gender_percents = (gender_totals / total_players * 100)
gender_percents = gender_percents.round()
gender_summary = pd.DataFrame({"Total Count": gender_totals,"Percentage of Players": gender_percents})
gender_summary

                       Total Count  Percentage of Players
Male                           652                  113.0
Female                         113                   20.0
Other / Non-Disclosed           15                    3.0


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
gender_pt = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_av = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
average_purchase_total_gender = gender_pt / gender_summary["Total Count"]
gender_summary = pd.DataFrame({"Purchase Count": gender_counts,"Total Purchase Value": gender_pt,"Average Purchase Value": gender_av,"Average Purchase Total per Person by Gender" : average_purchase_total_gender})

gender_summary

,Purchase Count,Total Purchase Value,Average Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,361.94,3.203009,3.203009
Male,652,1967.64,3.017853,3.017853
Other / Non-Disclosed,15,50.19,3.346000,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [106]:
bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]
player_demo = purchase_data ['Age Ranges'] = pd.cut(purchase_data['Age'], bins=bins, labels=labels, right=False)
age_demo_totals = purchase_data['Age Ranges'].value_counts()
age_demo_percents = age_demo_totals / total_players * 100
age_demo = pd.DataFrame({"Total Count": age_demo_totals, "Percent of Players": age_demo_percents})
age_demo = age_demo.round()
age_demo

       Total Count  Percent of Players
20-24          365                63.0
15-19          136                24.0
25-29          101                18.0
30-34           73                13.0
35-39           41                 7.0
10-14           28                 5.0
<10             23                 4.0
>40             13                 2.0

## Purchasing Analysis (Age)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [109]:
total_spenders = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
ave_spenders = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
ave_spenders = ave_spenders.round(2)
count_spenders = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
top_spenders_summary = pd.DataFrame({"Total Purchase Amount": total_spenders,"Average Purchase Price": ave_spenders,"Purchase Count": count_spenders})

top_spenders_summary.sort_values("Total Purchase Amount", ascending=False).head(5)

             Total Purchase Amount  Average Purchase Price  Purchase Count
SN
Lisosia93                    18.96                    3.79               5
Idastidru52                  15.45                    3.86               4
Chamjask73                   13.83                    4.61               3
Iral74                       13.62                    3.40               4
Iskadarya95                  13.10                    4.37               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [117]:
pop_total = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
pop_total.head()
#unfinished

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [123]:
profitable = purchase_data.sort_values('Price', ascending=False)

profitable.head()

#unfinished

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges,Age Range
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,20-24,20-24
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,20-24,20-24
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,25-29,25-29
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94,20-24,20-24
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94,10-14,10-14

In [ ]:
#1. Top spenders purchased an average between 3-4 times
#2  Female purchase value is higher than men despite men playing more
#3 Target age demographic is between 15-30, When can assume that is due to young adults having more free time while in college or after leaving high school.